<p>invitation-card works!</p>

<button
    #permissionButton
    id="permissionButton"
    class="border-2 border-amber-300">
    Enable Device Orientation For IOS trigger
</button>

<div
    #testSection
    id="test-section"></div>
<div
    #positionXY
    id="position-x-y"></div>

<section>
    <div class="container">
        <div
            #cardWrapper
            class="cardWrapper">
            <div
                #card
                class="card">
                <div>version 26</div>
                <div
                    #highlight
                    class="highlight"></div>
                <div
                    #dot
                    class="dot"></div>
            </div>
        </div>
    </div>
</section>
