@font-face {
    font-family: 'Dearly-loved-one';
    src: local('Dearly-loved-one'), url('./dearly-loved-one/Dearly-loved-one-by-7NTypes.otf');
}

@font-face {
    font-family: 'Hello-honey';
    src: local('Hello-honey'), url('./hello-honey/DFVN-Hello-Honey.otf');
}
