@font-face {
    font-family: 'Dearly-loved-one';
    src: local('Dearly-loved-one'), url('./dearly-loved-one/Dearly-loved-one-by-7NTypes.otf');
}

@font-face {
    font-family: 'Hello-honey';
    src: local('Hello-honey'), url('./hello-honey/DFVN-Hello-Honey.otf');
}

@font-face {
    font-family: 'Mentawai';
    src: local('Mentawai'), url('./mentawai/Mentawai.ttf');
}

@font-face {
    font-family: 'DonnaSmith';
    src: local('DonnaSmith'), url('./donnaSmith/DonnaSmith.ttf');
}

@font-face {
    font-family: 'ovo';
    src: local('ovo'), url('./ovo/Ovo-Regular.ttf');
}

@font-face {
    font-family: 'andasia';
    src: local('andasia'), url('./andasia/Andasia-Personal-Use-Only.ttf');
}

@font-face {
    font-family: 'theseasons';
    src: local('theseasons'), url('./theseasons/theseasons-reg.otf');
}

@font-face {
    font-family: 'thank-you';
    src: local('thank-you'), url('./thank-you/thank-you.ttf');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('./material-icons/MaterialIcons-Regular.ttf') format('truetype');
}
